body{
    font-family: 'Fira Sans', sans-serif;
    background-color: #b5d1ff;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#data {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.song {
    padding: 12px;
    border: 1px solid black;
    max-width: 30%;
    min-width: 200px;
}

.image {
    border: 1px solid black;
    width: 100%;
    height: auto;
}

audio {
    display: flex;
    align-self: flex-end;
    width: 100%;
    height: auto;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0px;
    background-color: #b5d1ff;
    padding: 10px;
    z-index: 100;
}

button {
    width: 100px;
    height: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #0049bf;
}